

.task-container:hover{
    border-radius: 20px;
    background-color: white;
    border: 0.5px solid #f5f8f9;
    overflow: scroll;
}
.task-title{
  flex  : 1;
}
.taskTitle-container{
  display: flex;
  align-items: center;
}
